<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = [[${status}]];
        var src = data.src
        var dest = data.dest

        var dataTable = new google.visualization.DataTable()
        dataTable.addColumn('number', "Time")
        dataTable.addColumn('number', src + " to " + dest)
        dataTable.addColumn('number', dest + " to " + src)
        for (var i = 0; i < data.data.length; i ++) {
            var row = []
            row.push(data.data[i].time)
            row.push(data.data[i].duration)
            row.push(data.data[i].reverseDuration)

            dataTable.addRow(row)
        }

        var options = {
          title: "Travel duration between " + src + " and " + dest,
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(dataTable, options);
      }
    /*]]>*/
    </script>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="curve_chart" style="width: 1600px; height: 900px"></div>
</body>
</html>
